<template id="champion-detail-template">
  <div class="detail-container">
    <div class="champion-info">
      <p class="champion-title"><!--champion-phrase--></p>
      <h2 class="champion-name"><!--chamion-name--></h2>
      <p class="champion-description"><!--description--></p>
      <p class="read-more">Read more</p>
      <div class="abilities">
        <h3 class="title">Abilities</h3>
        <div class="abilities-container"></div>
        <p class="ability-name">
          <!--Ability-Name-->
        </p>
        <p class="damage">Damage: <span></span></p>
        <p class="cooldown">Cooldown: <span></span></p>
        <p class="ability-description">Ability description</p>
      </div>
      <div class="dificulty">
        <h3 class="title">Dificulty</h3>
        <section class="dificulty-level-container">
          <div class="dificulty-level"></div>
          <div class="dificulty-level"></div>
          <div class="dificulty-level"></div>
          <div class="dificulty-level"></div>
          <div class="dificulty-level"></div>
        </section>
      </div>
    </div>
    <div class="skins-container">
      <h3 class="title">Skins</h3>
      <div class="images-container"><!--Images--></div>
    </div>
  </div>
</template>
