<nav>
  <div class="logo">
    <img
      height="50"
      src="/assets/icons/riot-mobile-svgrepo-com.svg"
      alt="league-of-legends-icon"
    />
  </div>
  <ul>
    <li>
      <a class="tooltip-container" href="/"
        ><i class="bx bx-home-alt"></i
        ><span class="tooltip-content">Home</span></a
      >
    </li>
    <li>
      <a class="tooltip-container" href="../pages/summoners.html"
        ><i class="bx bxs-dashboard"></i
        ><span class="tooltip-content">Summoners</span></a
      >
    </li>
    <li>
      <a class="tooltip-container" href="../pages/champions.html"
        ><i class="bx bx-angry"></i
        ><span class="tooltip-content">Champions</span></a
      >
    </li>
    <li>
      <a class="tooltip-container" href="../pages/settings.html"
        ><i class="bx bx-cog"></i
        ><span class="tooltip-content">Settings</span></a
      >
    </li>
  </ul>
</nav>
